@import url('https://fonts.googleapis.com/css?family=Quicksand|Molle:400i|Roboto:400|Ubuntu+Mono|IBM+Plex+Mono:400,400i,700');

html, body {
    height: 100%;
    overflow: hidden;
    font-family: 'Quicksand', sans-serif;
}

#communication-panel {
    height: 100%;
    padding: 0;
    border-right: 1px solid lightgrey;
    background-color: #F5F5F5;
}

#select-container {
    background-color: #E8E8E8;
    border: none;
    width: 100%;
}

#timer {
    font-size: 16px;
    border-top: 0.5px solid lightgrey;
    border-bottom: 0.5px solid lightgrey;
    background-color: #F5F5F5;
    padding-left: 20px;
}

#communication-window {
    font-family: 'Ubuntu Mono', monospace;
    resize: none;
    border: none;
    /*box shadow just on the bottom of the element of 20px*/
    box-shadow: 0 30px 30px -44px #000;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px black solid;
    padding-right: 5px;
}

/*Make this div full height, but scrollable*/
#communication-window-options {
    width: 100%;
    height: 100%;
    overflow: auto;
}

#stream-container {
    height: 600px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0;
}

#stream {
    width: auto; /*to maintain aspect ratio. You can use 100% if you don't care about that*/
    height: 100%;
}